<% if (index){ %>
<footer class="article-footer clearfix">

<%- partial('catetags') %>

<div class="index_author">作者：<a href="<%= config.url %>/about"  target="_blank" itemprop="author"><%= config.author %></a>
</div>

<div class="index_time">
   <time datetime="<%= date_xml(item.date) %>" itemprop="datePublished"><%= __('datepublished') %><a href="<%= config.url %>/archives"  target="_blank"><%= item.date.format(config.date_format) %></a></time>
</div>

<% } %>
</footer>

